---
layout: default
title: Blog
---

<div class="home">
  <h1 class="page-heading">Articles du Blog</h1>

  <ul class="post-list" style="list-style-type: none; padding: 0; margin: 0;">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%d %B %Y" }}</span>
        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title }}</a>
        </h2>
        {% if post.excerpt %}
          <p>{{ post.excerpt }}</p>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</div>
